.hero {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 100px;
            .card {
                width: calc(100% / 6);
                margin-bottom: 50px;
                cursor: pointer;
                .card-title {
                    margin-top: 10px;
                    color: $text;
                }
            }
        }

        button {
            padding: 10px 60px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: $comic;
            border: none;  
            margin-bottom: 30px;   
            transition: .4s;
            text-align: center;
            
            a {
                color: $text;
            }
        }
        button:hover {
            background-color: $header-bck;
        }

        a:hover {
            color: $comic;
        }
        
    }
}


