//Header
header{
    display: flex;
    justify-content: space-between;
    line-height: 120px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

a {
    color: #000;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu li {
    margin-left: 20px;
}

.selected {
    color: rgb(34, 110, 211);
}
.active {
    border-bottom: 5px solid rgb(34, 110, 211);
}
.img {
    display: flex;
    align-items: center;
}
.img img  {
    width: 80px;
}